package com.ql.util.express.test;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;

import org.springframework.context.ApplicationContext;
import org.springframework.context.ApplicationContextAware;
import org.unitils.UnitilsJUnit4;
import org.unitils.spring.annotation.SpringApplicationContext;
import org.unitils.spring.annotation.SpringBeanByName;

@SpringApplicationContext( { "com/qh/util/express/test/SpringConfig.xml" })
public class SpringTest extends UnitilsJUnit4{
	@SpringBeanByName
	RunExample runExample;
	public void setRunExample(RunExample runExample) {
		this.runExample = runExample;
	}
	@org.junit.Test
	public void test() throws Exception{
		runExample.run();
	}

}
